body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
*{
    overflow: hidden;
}
h1{
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading h1::before{
    content: '';
    border-left: 8px solid gray;
    padding-left: 0.2rem;
}
.heading{
    border-bottom: 1px solid black;
    margin-bottom: 1.8rem;
}

.bg-image{
    background-image: url('https://img.freepik.com/premium-vector/register-now-tag_599236-750.jpg?w=720');
    background-repeat: x-repeat;
    background-attachment: fixed;
    filter: blur(8px);
    height: 800px;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    min-width: 420px;
    font-weight: 700;
    border-radius: 1%;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    justify-content: center;
    
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form div{  
    width: 90%;
    margin: 0.4rem auto;
    
}
.error,.error2,.error3,.error4{
  font-size: 0.8rem;
  color: red;
  margin: 0;  
}
label input{
    padding: 0.4em;
    width: 70%;
    border-radius: 2%;   
}
input[type="text"],input[type="email"],input[type="password"],input[type="date"]{
    padding: 0.8em;
    width: 90%;
    background-color: white;
}
input:focus{
 font-weight: 600;
 line-height: 1.2rem;
 background-color: gainsboro;
}
.btn-disabled{
    cursor: not-allowed !important ;
}
#btn{
    padding: 0.4em;
    width: 50%;
    align-items: center;
    font-weight: 600;
    color: white;
    margin: 0 auto;
    background-color: rgb(155, 27, 27);
}
.password-field{
    position: relative;
}
#toggler{
    color: black;
    position: absolute;
    right: 130px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
}